.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-wrapper > form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.input-field {
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.input-field > input {
  border: none;
  outline: none;
  background-color: transparent;
  text-indent: 9px;
  font-size: 16px;
  padding-block: 10px;
  flex-grow: 1;
  color: white !important;
  max-width: 100%;
}

.input-field > input::placeholder {
  color: white !important;
}

input[type="radio"] {
  accent-color: var(--primary-color);
}

.input-field > img {
  margin-inline-end: 10px;
  cursor: pointer;
}

.disable-color {
  color: #c2c2c2 !important;
}

.disable-custom-input {
  border-color: #c2c2c2 !important;
}

.disable-custom-input input {
  color: #c2c2c2 !important;
}
