* {
  outline: none;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 16px;
}

.App {
  --primary-color: #6741d9;
  --background-color: #030303;
  --graph-color: #f0c3f1;
  --text-color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.dark-background {
  background-color: var(--background-color) !important;
}

.minheight-100 {
  min-height: 100vh !important;
}

.width-600 {
  width: 600px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-10 {
  margin-bottom: 10px;
}

.heading {
  font-size: 32px !important;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-1 {
  gap: 5px;
}

.gap-2 {
  gap: 10px;
}

.gap-5 {
  gap: 30px;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.position-relative {
  position: relative;
}
